In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
r = requests.get('https://www.billboard.com/charts/hot-100/')

In [3]:
r.status_code

200

(html)

In [4]:
html = r.content

(soup)

In [5]:
soup = BeautifulSoup(html, 'html.parser')

(html_songs)

In [6]:
html_songs = soup.find_all('h3', attrs={'id': 'title-of-a-story'})

In [7]:
html_top1 = soup.find_all('span', attrs={'class': 'c-label a-no-trucate a-font-primary-s \
lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 \
lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet'})

In [8]:
html_top1

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Steve Lacy
 </span>]

(html_artists)

In [9]:
html_artists = soup.find_all('span', attrs={'class': 'c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max \
u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 \
u-max-width-230@tablet-only'})

Looking with "Inspect" in the Billboard chart, a parent class "li" contains the info of both song titles and artists:
Because the fonts are different, the first song has one class and all the rest of the songs have another class. So 
 we have to put the 2 list toguether.

html_first

In [10]:
html_first = soup.find_all('li', attrs={'class': 'o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex \
lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max \
lrv-u-border-color-grey-light lrv-u-padding-l-1@mobile-max'})

(html_rest)

In [11]:
html_rest = soup.find_all('li', attrs={'class': 'o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex \
lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light \
lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max'})

In [12]:
html_all = html_first + html_rest

###### Data Cleaning

In [13]:
song = []
artist = []

for entry in html_all:
    song.append(entry.find("h3").get_text().replace("\n", "").replace('\t', ''))
    artist.append(entry.find("span").get_text().replace("\n", "").replace('\t', ''))
    
# Here we ensamble the DataFrame 
top100 = pd.DataFrame()
top100['song'] = song
top100['artist'] = artist
top100

                           song                          artist
0                     Bad Habit                      Steve Lacy
1                        Unholy          Sam Smith & Kim Petras
2                     As It Was                    Harry Styles
3   I Like You (A Happier Song)  Post Malone Featuring Doja Cat
4                       Sunroof              Nicky Youre & dazy
..                          ...                             ...
95                Gotta Move On           Diddy & Bryson Tiller
96                    Forget Me                   Lewis Capaldi
97                    Down Home                    Jimmie Allen
98            What He Didn't Do                    Carly Pearce
99                         Talk                            Yeat

[100 rows x 2 columns]

In [14]:
chart = []

for entry in html_all:
    col = {'song': entry.find('h3').get_text().replace('\n', "").replace('\t', ""),
           'artist': entry.find('span').get_text().replace('\n', "").replace('\t', "")}
    chart.append(col)

In [16]:
top100_b = pd.DataFrame(chart)
top100_b

                           song                          artist
0                     Bad Habit                      Steve Lacy
1                        Unholy          Sam Smith & Kim Petras
2                     As It Was                    Harry Styles
3   I Like You (A Happier Song)  Post Malone Featuring Doja Cat
4                       Sunroof              Nicky Youre & dazy
..                          ...                             ...
95                Gotta Move On           Diddy & Bryson Tiller
96                    Forget Me                   Lewis Capaldi
97                    Down Home                    Jimmie Allen
98            What He Didn't Do                    Carly Pearce
99                         Talk                            Yeat

[100 rows x 2 columns]